:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --second-bg-color: #f5f4fa;
  --logo-black: #000000;
  --hero-footer-bg: #2f303a;
  --addres-color: rgba(255, 255, 255, 0.6);
  --border-color: #ececec;
  --network-color: #afb1b8;
  --network-bg-footer: rgba(255, 255, 255, 0.1);
  --overlay-card-bgcolor: rgba(33, 150, 243, 0.9);
  --backdrop-bg: rgba(0, 0, 0, 0.2);
}
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
}
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}
.list {
  list-style: none;
}
.container {
  width: 1200px;
  padding: 0 15px;
  /*outline: 1px solid red;*/
  margin: 0 auto;
}
.section {
  padding: 90px 0;
}

.visually-hidden {
  visibility: hidden;
  width: 0;
  height: 0;
}
/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header {
  border-bottom: 1px solid var(--border-color);
}
.logo-header {
  margin-right: 90px;

  padding: 24px 0;
}
/* Logo  */
.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-black {
  color: var(--logo-black);
}
.logo-white {
  color: var(--primary-white-color);
}

/* nav */
.nav-header {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
}
.nav-list > .link:not(:last-child) {
  margin-right: 50px;
}
.nav-link {
  display: block;
  padding: 32px 0;
  text-decoration: none;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:focus,
.nav-link:hover,
.feedback-inf:hover,
.feedback-inf:focus,
.nav-link.current {
  color: var(--accent-color);
}
.nav-link.current {
  position: relative;
}
.nav-link.current::after {
  content: '';

  position: absolute;
  display: block;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
.svg-header {
  margin-right: 10px;
  fill: currentColor;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-inf:hover > .svg-header,
.feedback-inf:focus > .svg-header {
  fill: currentColor;
}
.feedback-inf {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list .feedback-inf {
  padding: 32px 0;
}

/*----------------------------------------------------------------------*/
/* index.html */

/* Hero */
.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /*background-color: var(--hero-footer-bg);*/
}
.hero .container {
  width: 696px;
}
.hero-title {
  margin-bottom: 30px;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button-order {
  padding: 10px 32px;
  display: block;
  margin: 0 auto;
  text-decoration: none;
  background-color: var(--accent-color);

  font-family: Roboto;
  font-style: normal;
  color: var(--primary-white-color);
  font-weight: bold;
  line-height: 1.87;
  border: none;
  border-radius: 4px;
  letter-spacing: 0.06em;

  cursor: pointer;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-order:hover,
.button-order:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* DACKDROP */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-bg);

  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  z-index: 90;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  min-width: 528px;
  min-height: 581px;
  padding: 40px;

  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  z-index: 100;
}

.modal-close {
  position: absolute;
  right: 8px;
  top: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-white-color);
}
.svg-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover .svg-close,
.modal-close:focus .svg-close {
  fill: var(--accent-color);
}
.title-modal {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 30px;
}

.form-modal {
  display: flex;
  flex-direction: column;
}
.form-modal .group {
  margin-bottom: 20px;
}
.group-elements:not(:nth-last-child(-n + 2)) {
  margin-bottom: 28px;
}
.group-elements:last-child {
  margin-top: 10px;
}
.group-elements {
  position: relative;
}
.input-modal:not(:placeholder-shown) + .label-modal {
  color: var(--primary-text-color);
  font-size: 12px;
  transform: translate(-35px, -35px);
}
.group-elements:focus-within > .label-modal {
  color: var(--accent-color);
  font-size: 12px;
  transform: translate(-35px, -35px);
}
.group-elements:focus-within > .svg-form {
  fill: var(--accent-color);
}

.label-modal {
  position: absolute;
  left: 35px;
  top: 50%;
  transform: translateY(-50%);

  font-weight: normal;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);

  transition: font-size 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-modal {
  display: block;
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 35px;
  padding-top: 10px;
  padding-bottom: 10px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.group-elements:focus-within > .input-modal {
  border: 1px solid var(--accent-color);
}

.textarea-modal {
  outline: none;

  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  resize: none;
}
.group-elements:focus-within > .textarea-modal {
  border: 1px solid var(--accent-color);
}
.textarea-modal::placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.label-modal-comments {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.group-elements:focus-within > .label-modal-comments {
  color: var(--accent-color);
}
.svg-form {
  position: absolute;
  left: 12px;
  top: 11px;

  fill: var(--title-text-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.label-check {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);

  margin-bottom: 30px;
}
.label-check a {
  text-decoration: none;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
  margin-left: 3px;
}
.check-modal {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.check-icon {
  width: 16px;
  height: 15px;
  border: 1px solid var(--title-text-color);
  border-radius: 2px;
  order: -1;
  margin-right: 7px;
  cursor: pointer;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-modal:checked + .check-icon {
  border-color: transparent;
  background-color: var(--accent-color);
  background-image: url(../images/check1.svg);
  background-origin: border-box;
  background-size: contain;
  background-repeat: no-repeat;
}
.check-icon:focus,
.check-icon:hover {
  border-color: var(--accent-color);
}

.label-check:focus-within > .check-icon {
  border-color: var(--accent-color);
}
.form-modal .button-order {
  width: 200px;
  height: 50px;
  background-color: #188ce8;
}
/* Section */

/* 1 */
.quality-ul {
  display: flex;
}
.quality-li {
  width: calc((100% - 90px) / 4);
}
.quality-li:not(:last-child),
.doing-li:not(:last-child),
.employee-li:not(:last-child) {
  margin-right: 30px;
}
.img-quality {
  width: 100%;
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--second-bg-color);
  margin-bottom: 30px;
  border-radius: 4px;
}
.section-title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.quality-title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.descr-quality {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* 2 */

.section.no-top {
  padding-top: 0;
}
.doing-list {
  display: flex;
}
.doing-list .img,
.employee-li .img {
  display: block;
  max-width: 100%;
  height: auto;
}
.doing-li {
  position: relative;
}
.doing-li .doing-text {
  position: absolute;
  left: 0;
  bottom: 0;

  display: flex;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
}
.doing-li .text {
  color: var(--primary-white-color);

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;

  text-transform: uppercase;
}

/* 3 */
.section.employee {
  background-color: var(--second-bg-color);
}
.employee-list {
  display: flex;
}
.employee-li {
  width: calc((100% - 90px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.card-bottom {
  background-color: var(--primary-white-color);
  padding: 30px 32px;
}
.employee-name {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.2;

  text-align: center;
  letter-spacing: 0.03em;
}
.employee-description {
  margin-bottom: 16px;
  font-weight: normal;
  line-height: 1.2;

  text-align: center;
  letter-spacing: 0.03em;
}
.employee-li .networks {
  display: flex;
  align-items: center;
}
.networks .li-network {
  width: 44px;
  height: 44px;
}
.networks .li-network:not(:last-child) {
  margin-right: 10px;
}
.li-network .link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.employee-li .svg-network {
  fill: var(--network-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.li-network .link:hover .svg-network,
.li-network .link:focus .svg-network {
  fill: var(--primary-white-color);
}

/* 4 */
.list-customers {
  display: flex;
  align-items: center;
}
.li-customer {
  width: calc(100% - (5 * 30px) / 6);
  height: 92px;
}
.li-customer a {
  color: var(--network-color);
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border: 1px solid currentColor;
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.li-customer:not(:last-child) {
  margin-right: 30px;
}
.svg-customer {
  fill: currentColor;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.li-customer a:hover,
.li-customer a:focus {
  color: var(--accent-color);
  border: 1px solid currentColor;
}
.li-customer a:hover .svg-customer,
.li-customer a:focus .svg-customer {
  fill: currentColor;
}
/* footer */
.main-footer {
  background-color: var(--hero-footer-bg);
  padding-top: 60px;
  padding-bottom: 60px;
}
.container.footer {
  display: flex;
  align-items: baseline;
}
.footer-addres {
  margin-right: 85px;
}
.addres-descr {
  margin-top: 20px;
  color: var(--addres-color);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.addres-descr .ftr-add {
  color: var(--primary-white-color);
  margin-bottom: 9px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;
}
.footer-li:last-child {
  margin-top: 9px;
}
.footer-networks {
  width: 206px;
}
.footer-networks p {
  margin-bottom: 20px;

  color: var(--primary-white-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-networks .networks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-networks .link {
  background-color: var(--network-bg-footer);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-networks .svg-network {
  fill: var(--primary-white-color);
}
.li-network .link:hover,
.li-network .link:focus {
  background-color: var(--accent-color);
}
.form-footer {
  justify-self: end;
  display: flex;
  flex-direction: column;
  margin-left: auto;
}
.input-button-footer {
  display: flex;
}
.label-footer {
  font-weight: bold;
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.input-footer {
  display: block;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;

  outline: none;
  background-color: var(--hero-footer-bg);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-footer::placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: var(--addres-color);
}
.input-footer:hover,
.input-footer:focus {
  border-color: var(--primary-white-color);
}
.button-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);

  cursor: pointer;
}
.svg-send {
  fill: var(--primary-white-color);
  background-color: transparent;
  margin-left: 10px;
}
/*----------------------------------------------------------------------*/
/* portfolio.html */

/* Header */

/* radio button */
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-li:not(:last-child) {
  margin-right: 8px;
}
.radio-button {
  padding: 6px 22px;
  background-color: var(--second-bg-color);
  color: var(--title-text-color);

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.radio-button:focus,
.radio-button:hover,
.radio-button.active {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* main portfolio content */
.list-portfolio {
  display: flex;
  flex-wrap: wrap;
}
.project-card .link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-card .link:hover,
.project-card .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.head-proj {
  position: relative;
  overflow: hidden;
}
.proj-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;

  padding: 63px 24px;

  background-color: var(--overlay-card-bgcolor);

  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-card .link:hover .proj-overlay,
.project-card .link:focus .proj-overlay {
  transform: translateY(0%);
  opacity: 1;
}
.proj-overlay p {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;

  letter-spacing: 0.03em;

  color: var(--primary-white-color);
}

.project-card .img {
  display: block;
  max-width: 100%;
  height: auto;
}
.project-card:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.project-card:not(:nth-child(3n)) {
  margin-right: 30px;
}
.desc-proj {
  padding: 20px 24px;
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
.project-name {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-categ {
  color: var(--primary-text-color);
  font-weight: normal;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
/*----------------------------------------------------------------------*/
